#root {
  margin: 0 auto;
  color: rgba(29,185,175);
  font-size: 20px;
}
body {
  background-color: floralwhite;
}

/*APP COMPONENT*/
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-container img {
  height: 100px;
  width: auto;
  object-fit: cover;
}
.header-container p {
  margin: 5px;
}
@media (orientation: portrait) {
  .header-container p {
    width: 120px;
  }
}

/*NAV COMPONENT*/

.mobilenavbutton {
  display: none;
}

.nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
@media (orientation: portrait) {
  .mobilenavbutton {
    display: block;
  }
  .nav {
    display: none;
  }
}

#NavLink {
   color: rgba(29,185,175);
  text-decoration: none;
}
#NavLink:hover {
  text-decoration: underline;
  color: rgba(106,38,128);
}

/*HOME COMPONENT*/
 h2, h3 {
  color: rgba(106,38,128);
 }
.home-img {
  margin-top: 15px;
  max-height: 350px;
  margin: 5px;
  width: 100%;
  object-fit: cover;
  border: 2px solid rgba(106,38,128);
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .6); 
}
.service-img {
  margin-top: 15px;
  max-height: 350px;
  margin: 5px;
  width: 40%;
  border: 2px solid rgba(106,38,128);
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .6); 
}


.home-top-section {
  display: flex;
}
.home-top-section p {
  font-size: 2rem;
}
.home-middle-section-aboutus {

}
#home-aboutus-title {
  border: solid 1px rgba(29,185,175);
  border-radius: 15px;
  padding: 3px;
  font-size: 1.5rem;
  width: 100px;
  font-weight: bolder;
  color: rgba(106,38,128);

}

.home-bottom-section-services {

}
.home-service-box-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
#icon {
  height: 100px;
}

.home-service-box {
  border: solid 1px rgba(106,38,128);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 150px;
  height: 100px;
}
.home-service-box div {
  border-top: solid 1px rgba(106,38,128);
}
.review-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}
.review {
  width: 400px;
}

.review img {
  height: 150px;
  width: auto;
  object-fit: cover;
  position: relative;
  z-index: 2;
 
}

@media (orientation: portrait) {
  .home-top-section p {
    font-size: 1.4rem;
    width: 100px;
  }
  .service-img {
    width: 90%;
  }
}

li {
  cursor: pointer;
  box-sizing: border-box;
}

/*SERVICES COMPONENT*/

.services-top-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.secondcolumn {
    text-align: center;
  }

@media (orientation: landscape) {
  .services-top-section {
    display: flex;
    flex-wrap: nowrap;
  }
  .services-top-section div {
    margin-left: 80px;
  }
  .secondcolumn {
    text-align: center;
  }
}

/*Contact COMPONENT*/
.contact {
  text-align: center;
  display: grid;
  place-items: center;
}

.contactform {
  display: flex;
  flex-direction: column;
}

#email,#name,#message {
  padding: 5px;
  margin: 10px;
}
.submit {
  height: 20px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}